<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Text Analyzer</title>
        <div id="explanation">
            <h1>Text Analyzer</h1>
            <h3>Enter text in the form below to be analyzed.</h3>
            <h3>The text analyzer will determine if the text has a positive or negative bent.</h3>
        </div>
    </head>

    <body>

        <header>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Text to be analyzed...">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <h3>Form Results:</h3>
                <div id="results"></div>
            </section>
        </main>

        <footer>
        </footer>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
